@import "tailwindcss";

@theme {
  --color-reina-red: #D01C1C;
  --color-reina-red-hover: #FF2020;
  --color-reina-dark: #0A0A0A;
  --color-reina-card: #111111;
  --color-reina-border: #222222;
  --color-reina-muted: #A0A0A0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0A0A0A;
  color: #ffffff;
  font-family: var(--font-geist, Arial, sans-serif);
}

.font-bebas {
  font-family: var(--font-bebas), sans-serif;
}
